.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--bg-navibar);
    border-bottom: 1px solid var(--border);
    font-size: 1.3em
}

.navbar .wrap {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 12px 16px
}

.nav {
    display: flex;
    gap: 16px
}

.nav a {
    color: var(--link-claro);
    text-decoration: none
}

.nav a:hover {
    text-decoration: underline
}

.brand a {
    color: var(--link-claro-hover);
    /* mantém branco */
    font-weight: bold;
    /* mantém negrito */
    text-decoration: none;
    /* tira sublinhado */
}